.noContentBody {
  margin-top: 1.5rem;
  padding: 4rem 1.5rem;
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  border-top: 1px solid var(--gray-400);
}